# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PythonProject\code_and_ckpt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
